@import "tailwindcss";

:root {
  --background: #121212;
  --surface: #1E1E1E;
  --primary: #00E5FF;
  --text: #E0E0E0;
  --text-secondary: #A0A0A0;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
